/*diseño titulo*/
.titulo {
    text-align: center;
    position: relative;
    display: block;
}

.titulo span {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #ff0000, #0602ff, #2bff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.titulo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 400;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    transform: translateY(-50%);
}
.titulo {
    text-align: center;
    background: linear-gradient(to right, #ff0000, #53c2ee, #2bff00);
    background-size: 100% auto; 
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Diseño de seleccion de mascotas*/

:root {

	font-family: 'Press Start 2P', cursive;
    margin: -21px;
}

body {

	background-image: url(./fondo-degradado_172010-1338.avif);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

h2 {
    font-size: 2.2rem;
    padding: 1rem;
    background-image: linear-gradient(to left, rgb(45, 250, 73), rgb(67, 64, 252), rgb(255, 0, 0)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#eligeAtaque {
    font-size: 2.2rem;
    padding: 1rem;
    background-image: linear-gradient(to left, rgb(45, 250, 73), rgb(115, 250, 255), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
}

#boton-mascotas {
    padding: 1.2rem 4.5rem;
    font-size: 1.2rem; 
    background-image: linear-gradient(to right, red, blue, green);
    color: white; 
    border: none; 
    border-radius: 20px;
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

#boton-mascotas:hover {
    transform: scale(1.1);
}

.tarjeta-de-mokepon {
    display: inline-block;
    padding: 1.5rem 2rem;
    margin: 1rem;
    background-image: linear-gradient(to right, red, blue, green); 
    color: white; 
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.753);
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.tarjeta-de-mokepon:hover {
    transform: scale(1.1);
}

.input:checked + .tarjeta-de-mokepon {
    background-color: rgba(82, 149, 182, 0.5); 
}

#boton-reiniciar {
    padding: 1.2rem 4.5rem; 
    font-size: 1.2rem; 
    background-image: linear-gradient(to right, red, blue, green); 
    color: white; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    transition: transform 0.3s ease;
}

#boton-reiniciar:hover {
    transform: scale(1.1);
}