@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0e1e75;

}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #00ffc8;
    font-size: 60px;
}

.subtitulo {
    color: #00ffc8;
    font-size
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 200px;
    height: 240px;
    background: #00ffc8;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    color: #4c00ff;
}

.tarjeta-de-mokepon img {
    width: 180px;
    height: 157px;
}

#boton-mascotas {
    width: 200px;
    height: 50px;
    margin: 30px;
    border-radius: 20px;
    background: #00ffc8;
    border: 2px solid #0368ff;
    color: #4c00ff;
    font-family: "Poetsen One", sans-serif;
}

input {
    display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #00ffc8;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100px;
    color: #4c00ff;
    font-family: "Poetsen One", sans-serif;
}
